@use 'variables' as v;

html {
    // para que cada rem valga 10px debemos darle un fontsize de 62.5%
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$font;
    font-size: 1.6rem;
}

p {
    font-size: 2 rem;
    color: v.$skyblue;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

// le damos a cada h un valor para todo el documento
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}