// tipografia
$font: 'Poppins', sans-serif;

// colores
$blue: #26346c;
$skyblue: #5480b0;
$white: #edf2fc;
$yellow: #ffff4d;
$backblue: #204b5e;

//media query size
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;