@use 'base/variables' as v;
@use 'base/mixins' as m;

.about-fest {
    padding: 5rem 0;

    @include m.tablet {
        @include m.grid (2, 3rem);
    }

}

.contenido-fest {
    // este codigo es para aliniar un div verticalmente
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;

    @include m.tablet {
        margin: 0;
    }

    @include m.phone {
        margin-top: 3rem;

    }

    h2 {
        margin-bottom: 2rem;
        color: v.$backblue;
    }

    .date {
        color: v.$blue;
        font-weight: 700;
    }
}

.footer {
    text-align: center;
}