@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$blue;
    padding: 5rem 0;

    h3,
    p {
        text-align: center;
        color: v.$white;
    }

    .day {
        text-transform: uppercase;
        margin: 5rem 0;
    }
}

.escenarios-contenedor {

    // el primer include llamamos al mixin para crear un mediaquery para la tablet
    @include m.tablet {

        // el sig include es para traer el mixin que hace columnas,
        // en el primer tab elegimos el numero de columnas y en el segundo el ancho
        @include m.grid (2, 5rem);
    }

    p {
        color: v.$white;
    }
}

.escenario {
    padding-top: 2rem;

    .nombre-escenario {
        &::after {
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center;
            margin: 2rem auto 0 auto;
        }
    }
}

.psy .nombre-escenario::after {
    background-image: url(/build/img/icon_psy.png);
}

.tecno .nombre-escenario::after {
    background-image: url(/build/img/icono_tecno.png);
}


.bg-blue {
    background-color: v.$bluemar;

    li:nth-child(odd) {
        background-color: darken(v.$bluemar, 10%);
    }
}

.bg-skyblue {
    background-color: v.$skyblue;

    li:nth-child(odd) {
        background-color: darken(v.$skyblue, 10%);
    }
}

.calendar {
    @include m.resetList;

    li {
        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }

    }
}